body 
{
    background-color: gray;
}
/* .container
{
    width: 400px;
} */
.container 
{
    text-align: center;
}
.container-fluid ul li
{
    display: inline-block;
    padding: 10px;
    
}
.container-fluid ul li a
{
    text-decoration: none;
    color: black;
}
.container-fluid ul li :hover
{
    color: black;
    background-color:aliceblue
    
}
.nav 
{
    width: 100%;
}
.footer
{
    background-color: rgb(6, 112, 112);
    text-align: center;
    padding: 10px;
    clear: both;
}
.footer p
{
    margin: 0%;
}